html {
  font-size: 10px;
}
:root {
  /* --whiteDim: #ffffffe6; */
  --whiteDim: #babac6;
  --mainColor: #ff3368;
  --white: #fff;
}
a {
  text-decoration: none;
}
.footer_section {
  background-color: var(--white);
}

.footer_main {
  padding: 4%;
  display: flex;
  justify-content: space-around;
  gap: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.04rem;
  background-color: #000000;
}
.footer_part {
  flex-basis: 17%;
}
.footer_part-contact_info,
.footer_part-newsletter {
  flex-basis: 30%;
}

.footer_part_header {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  color: var(--white);
  transition: 0.5s;
}

.footer_part_header-sub {
  color: var(--whiteDim);
  margin-bottom: 3rem;
  font-size: 1.6rem;
  transition: 0.5s;
  line-height: 2.8rem;
}
.content_list {
  display: block;
  margin-bottom: 2rem;
  color: var(--whiteDim);
  line-height: 2.2rem;
}
.footer_link {
  color: var(--whiteDim);
  transition: all 0.3s;
}
.footer_link:hover {
  color: var(--mainColor);
}
.content_list-contact {
  display: flex;
  gap: 0.4rem;
  justify-content: flex-start;
}
.content_list-icon {
  /* color: #f9f9fe; */
}

.content_list-contact .content_list-text {
  text-align: left;
  width: 80%;
}
.content_list_links {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
}
.footer_icon {
  color: var(--whiteDim);
  transition: all 0.3s;
  padding: 2%;
  font-size: 2rem;
}
.content_list_links .footer_icon:hover {
  color: var(--mainColor);
}
.content_list-text {
}
.footer_form {
  flex-basis: 40%;
  position: relative;
  background-color: #f9f9fe;
  height: 5rem;
  padding: 0.1rem;
  z-index: 1;
  border-radius: 0.2rem;
}
.input_footer {
  border-radius: 0.2rem;
  position: absolute;
  top: 0rem;
  left: 0;
  width: 60%;
  height: 100%;
  font-size: 1.6rem;
  padding-left: 0.8rem;
  letter-spacing: 0.04rem;
  border: none;
  outline: none;
  z-index: 3;
  background-color: #f9f9fe;
}
.btn_footer {
  position: absolute;
  top: 15%;
  right: 2%;
  width: 30%;
  height: 70%;
  letter-spacing: 0.04rem;

  background-color: var(--mainColor);
  text-align: center;
  color: var(--white);
  border-radius: 0.5rem;
  line-height: 1rem;
  border: 0.2rem solid var(--mainColor);
}
.footer_sub {
  border-top: solid thin #f1f1f6;
  font-family: "Poppins", sans-serif;
  line-height: 2em;
  font-size: 1.2rem;
  color: #888;
  font-weight: 300;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.footer_sub .developer {
  font-weight: 600;
}
.footer_sub .developer:hover {
  color: var(--mainColor);
}
@media (max-width: 880px) {
  html {
    font-size: 9px;
  }
  .footer_main {
    flex-wrap: wrap;
  }
  .footer_part {
    flex-basis: 45%;
  }
}
@media (max-width: 660px) {
  html {
    font-size: 8px;
  }
  .footer_part {
    flex-basis: 90%;
  }
}
